body{
	margin:0;
	background-color: #D7DBD0;
}
.heading{
	/*background-color: #D7DBD0;*/
	position:fixed;
	height: 125px;
	width:100%;
	z-index: 1;
	margin:0;
}
.name{
	width: 350px;
	height: 70px;
	margin: auto;
	margin-left: 0px;
	font-family: 'Candal', sans-serif;
	color: #f6bdbd;
	text-align: center;
	font-size: 60px;
}
.description{
	font-family: 'Contrail One', cursive;
	text-align: center;
	font-size: 30px;
	width: 300px;
	height: 20px;
	margin: auto;
	margin-top: 0px;
	margin-left: 25px;
	color: white;
}
.tabs {
	text-decoration: none;
	width: 360px;
	height:100px;
	margin-top: -80px;
	margin-left: 350px;
}
.hometab, .aboutmetab,.portfoliotab,.contacttab{
	padding: 20px 20px 20px 20px;
	width:50px;
	float:left;
}
.homebutton, .aboutmebutton, .portfoliobutton, .contactbutton{
	fill: white;
}
.hometab:hover p, .hometab:hover .homebutton, .aboutmetab:hover p, .aboutmetab:hover .aboutmebutton, .portfoliotab:hover p, .portfoliotab:hover .portfoliobutton, .contacttab:hover p, .contacttab:hover .contactbutton{
	fill:#F7475F;
	visibility: visible;
}
.hdescription, .amdescription, .pdescription, .cdescription{
	font-size:10px;
	visibility: hidden;
	font-family: 'Contrail One', cursive;
	margin:0px;
	color: #F7475F;
	text-align: center;
}
.externallinks{
	float:left;
	margin-top:-70px;
	margin-left: 1000px;
}
.externallinks a{
	text-decoration: none;
	padding: 5px 5px 5px 5px;
}
.externallinks img{
	width: 40px;
	height: 40px;
}
.welcome{
	position: absolute;
	text-align: center;	
	font-size: 150px;
	font-family: 'Contrail One', cursive;
}
.works{
	position: absolute;
	margin-left: 550px;
	top: 200px;
	display: none;
}
.videos li{
	padding-top: 50px;
}
#resume{
	margin: 300px 25%;
	width: 1000px;
}
.contactmebar{
	position:fixed;
}
.emailme{
	position: absolute;
	background-color:#f6bdbd;
	width: 1000px;
	height: 955px;
	left: 950px;
	top: 0px;
}
.emailme li{
	padding: 5px 5px 5px 5px;
	width: 400px;
}
.emailme h1{
	padding-left:45px;
	font-family: 'Contrail One', cursive;
	font-size: 70px;
	margin-top: 300px;
}
.callme{
	position:absolute;
	top: 250px;
	left: 750px;
}
.callme h1{
	font-family: 'Contrail One', cursive;
	font-size: 70px;
}
.callme p{
	font-family: 'Contrail One', cursive;
	font-size: 30px;
}
#sendbutton{
	border:none;
	background-color:#F7475F;
	padding: 5px 10px 5px 10px;
	font-family: 'Contrail One', cursive;
	font-size: 30px;
}
.aboutme{
	text-align: center;
	position: absolute;
	font-size: 20px;
	font-family: 'Contrail One', cursive;
	padding-left: 120px;
	padding-top: 180px;
	width: 600px;
	left: 20px;
	top: 140px;
}
.education{
	text-align: center;
	position: absolute;
	left: 1250px;
	top: 1350px;
	font-family: 'Contrail One', cursive;
}
.image1{
	position:absolute;
	left: 850px;
	width:1050px;
	height: 975px;
	background-color:black;
}
.image2{
	position:absolute;
	left: 0px;
	top:975px;
	width: 850px;
	height: 975px;
	background-color:#F7475F;
}
.skills{
	position: absolute;
	top: 2155px;
	left: 290px;
	font-family: 'Contrail One', cursive;
}
.skills h1{
	color:#F7475F;
	text-align: center;
	padding-left: 35px;
}
.image3{
	position:absolute;
	top:1950px;
	left: 850px;
	width:1050px;
	height: 975px;
	background-color:#f6bdbd;
}
.experience{
	position:absolute;
	top:3050px;
	left: 1125px;
	width: 500px;
	font-family:'Contrail One', cursive;
}
.experience h1{
	text-align: center;
	margin-left: 25px;
}
.experience li{
	font-size: 25px;
}
.image4{
	position:absolute;
	left: 0px;
	top:2925px;
	width: 850px;
	height: 975px;
	background-color:#F7475F;
}
.demoreel{
	font-family: 'Contrail One', cursive;
	background-color:#f6bdbd;
	width:1955px;
	height: 750px;
	position:absolute;
	top: 120px;
}
.icon{
	width:1000px;
	display:inline;
	overflow:hidden;
}
.icon1, .icon2, .icon3, .icon4, .icon5{
	float: left;
	width:280px;
	height:750px;
	transition-property: width;
	transition-duration: 0.5s;
	transition-timing-function: linear;
}
.icon1 img, .icon2 img, .icon3 img, .icon4 img, .icon5 img{
	width:955px;
	filter: grayscale(1);

}
.icon1 img:hover, .icon2 img:hover, .icon3 img:hover, .icon4 img:hover, .icon5 img:hover{
	filter: grayscale(0);
} 
.icon1:hover{
	width:750px;
}
.icon2:hover{
	width:750px;
}
.icon3:hover{
	width:750px;
}
.icon4:hover{
	width:750px;
}
.icon5:hover{
	width:750px;
}
#lightbox{
	position:absolute;
	z-index: 1px;
	background-color: black;
	width:1902px;
	height:1000px;
	opacity: .75;
}
.workvideos iframe{
	position: absolute;
	margin-left: 450px;
	margin-top: 250px;
	visibility: hidden;
}
.demoreel iframe{
	text-align:center;
	margin-left: 535px;
}
.demoreel h1{
	margin-left: 540px;
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px){
	.demoreel iframe{
		position:absolute;
		margin-left: 235px;
		margin-top: 50px;
		width: 1500px;
		height: 843px;
	}
	.demoreel h1{
		padding-top: 350px;
		margin-left: 250px;
	}
	.demoreel{
		height: 2450px;
	}
	.callme{
		top: 700px;
		left: 220px;
	}
	.callme h1{
		font-size:200px;
		margin-left: 10px;
	}
	.callme p{
		font-size: 90px;
	}
	.emailme{
		height:2600px;
	}
	.emailme h1{
		font-size: 200px;
		padding-left: 250px;
		padding-top: 530px;
	}
	.emailme ul{
		margin-left:220px;
	}
	.emailme li{
		font-size: 60px;
	}
	.icon{
		background-color:#F7475F;
		position: absolute;
		top:0px;
		height: 2400px;
		width: 1900px;
		overflow:hidden;
	}
	.icon1, .icon2, .icon3, .icon4, .icon5{
		margin-top: 150px;
		float: left;
		width: 200px;
		height:2000px;
	}
	.icon1 img, .icon2 img, .icon3 img, .icon4 img, .icon5 img{
		width: 2100px;
	}
	.icon1:hover{
		width:1100px;
	}
	.icon2:hover{
		width:1100px;
	}
	.icon3:hover{
		width:1100px;
	}
	.icon4:hover{
		width:1100px;
	}
	.icon5:hover{
		width:1100px;
	}
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 667px){
	.demoreel iframe{
		position:absolute;
		margin-left: 0px;
		margin-top: 0px;
		width: 1500px;
		height: 818px;
	}
	.demoreel h1{
		padding-top: 0px;
		margin-left: 0px;
	}
	.demoreel{
		height: 2450px;
		width: 1500px;
	}
	.callme{
		top: 700px;
		left: 200px;
	}
	.callme h1{
		font-size:80px;
		margin-left: 10px;
	}
	.callme p{
		font-size: 40px;
	}
	.emailme{
		height:3000px;
	}
	.emailme h1{
		font-size: 80px;
		padding-left: 250px;
		padding-top: 460px;
	}
	.emailme ul{
		margin-left:220px;
		margin-top: 10px;
	}
	.emailme li{
		font-size: 50px;
	}
	.emailme{
		left: 600px;
	}
	.icon{
		background-color:#F7475F;
		position: absolute;
		top:0px;
		height: 2400px;
		width: 1900px;
		overflow:hidden;
	}
	.icon1, .icon2, .icon3, .icon4, .icon5{
		margin-top: 150px;
		float: left;
		width: 200px;
		height:2000px;
	}
	.icon1 img, .icon2 img, .icon3 img, .icon4 img, .icon5 img{
		width: 2200px;
	}
	.icon1:hover{
		width:400px;
	}
	.icon2:hover{
		width:400px;
	}
	.icon3:hover{
		width:400px;
	}
	.icon4:hover{
		width:400px;
	}
	.icon5:hover{
		width:400px;
	}
	.externallinks{
		margin-left: 400px;
	}
}
